/****
*      Game of Code 2018        *
*      Design & Code by TTS     *
*      contact@danielwahl.lu    *
**/


/*****   VARIABLES   *****/

:root {
    --section-map-color: #CEECF5;
    --section-eval-color: #EEEEEE;
}

@font-face {
    font-family: TheBlacksmith; src: url('The Blacksmith.ttf');
}


/*****   GLOBAL   *****/
* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: rgb(150, 150, 150);
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

h1 {

}

h2 {

}

.desktop {
    display:block;
}

.mobile {
    display:none;
}

#content {
    width:100%;
    height:100%;
    margin: 0 auto;
}




/*****    HEADER    *****/

header {
    width:100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url('../images/header3.jpg');
    background-color:grey;
    z-index: 1;
    background-size: cover;
}

header.analyzed {
    height:50vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

header #h_overlay{
    /*background-color: rgba(255,255,255,0.5);*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.7)), color-stop(34%, rgba(255,255,255,0.7)), color-stop(100%, rgba(74,74,74,0.7))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4A4A4A',GradientType=1 ); /* ie6-9 */

    width:100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
}

header.analyzed #h_overlay {
    /*background-color: rgba(255,255,255,0.5);*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, rgba(255,255,255,0.7)), color-stop(34%, rgba(255,255,255,0.7)), color-stop(100%, rgba(74,74,74,0.7))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 34%, rgba(74,74,74,0.7) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4A4A4A',GradientType=1 ); /* ie6-9 */

    width:100%;
    height: 50vh;
    left: 0;
    top: 0;
    z-index: 2;
    min-height: calc(100% - 15px);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}


header #h_overlay #resize_content {
    width: 820px;
    margin: 0 auto;
}



/*****    NAVIGATION   *****/

nav {
    z-index:2;
}

.logo {
    font-family: TheBlacksmith, sans-serif;
}

/**-- NAV_DESKTOP --**/
nav #nav_desktop {
    display:block;
    width:100%;
    height:50px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    text-align: center;
}

nav #nav_desktop ul {
    padding-top:12px;
    list-style: none;
}

nav #nav_desktop ul li{
    display: inline;

    text-align: center;
    font-size: 2.5em;

}

nav #nav_desktop ul li a {
    padding:0 0 0 0;
    color:white;
    text-shadow: 1px 1px 21px rgba(150, 150, 150, 1);
    float: right;
    margin-right: 5%;
}

nav #nav_desktop ul li .logo {
    left:0;
    float:left;
    margin-left: 20px;
    margin-top: 10px;
    padding-right:50px;
}

nav #nav_desktop ul li a.active {
    border-bottom: 2px solid white;
}


/**-- NAV_SCROLL --**/

/**-- NAV_DESKTOP --**/
.counter {
    width: 20px;
    height: 20px;
    background: black;
    color: #fff;
    position: fixed;
    top: 120px;
    right: 0;
}

nav #nav_scroll {
    width:720px;
    height:50px;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    text-align: center;
    display:none;
    position: fixed;
}

nav #nav_scroll ul {
    padding-top:12px;
    list-style: none;
}

nav #nav_scroll ul li{
    display: inline;

    text-align: center;
    font-size: 1.5em;

}

nav #nav_scroll ul li a {
    padding:0 0 0 0;
    color:white;
    text-shadow: 1px 1px 21px rgba(150, 150, 150, 1);
    float: right;
    margin-right: 5%;
}

nav #nav_scroll ul li .logo {
    left:0;
    float:left;
    margin-left: 20px;
    margin-top: 0;
    padding-right:50px;
}

nav #nav_scroll ul li a.active {
    text-decoration: underline;
}

/**-- NAV_MOBILE --**/
nav #nav_mobile, nav #nav_mobile #nav_mobile_container {
    display:none;
}

#nav_mobile .logo {

}

#open_nav {
    display: block;
    color: white;
    font-size: 3em;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
    transform: rotate(90deg);
}

#close_nav {
    display: none;

    position: fixed;
    color: black;/*rgb(150, 150, 150);*/
    font-size: 4em;
    float: right;
    right: 0;
    margin-right: 46px;
    margin-top: -175px;
    z-index: 101;
    transform: rotate(90deg);
}

#close_nav.index {
    margin-top: -80px !important;
}

nav #nav_mobile #nav_mobile_container {
    background-color: rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    z-index:100;
}

nav #nav_mobile #nav_mobile_container ul li {
    text-align:center;
    padding-top: calc(60vh / 3);
    width:100%;
}

nav #nav_mobile #nav_mobile_container ul li a {
    color: black;
    text-decoration:none;
    font-size: 2.3em;
}

nav #nav_mobile #nav_mobile_container ul li a.active {
    text-decoration: underline;
}


/*****   FIELDS   *****/

#fields {
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    text-align: center;
    margin-top: 30vh !important;
}

.analyzed #fields {
    height:auto;
    margin-top: 10vh !important;
}

#fields input {
    margin: 0 auto;
    padding: 0 3% 0 3%;
    height:65px;
    width:80%;
    border: 1px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    box-shadow: rgba(150, 150, 150, 1);
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 30px !important;
}

.analyzed #fields input {
    height:30px;
    width:60%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-top:10px !important;

}

#fields input:focus{
    /*outline-color: lightblue;*/
    outline: none;
    box-shadow: 0 0 5px lightblue;
    -moz-outline-radius: 7px;
}


#fields input.departure {

}

#fields input.destination {

}

#fields input[type=submit] {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-appearance: none;
    font-size: 1.3em;
    color: rgba(1,1,1,0.8);
}


/*****   SECTIONS   *****/

section {
    height: auto;
    min-height: 40vh;
    width: 100%;
    left: 0;
    display:none;
}

section .content {
    margin: 0 auto;
    width: 720px;
    min-height: 35vh;
}

/**-- EVAL --**/

section#evaluation {
    background-color: var(--section-eval-color);
}

section#evaluation .content{
    padding: 5vh 10px 5vh 10px;
}


/**-- MAP --**/

section#mapeval {
    background-color: var(--section-map-color);
    height:60vh;
}
#map {
    width:100%;
    height:100%;
    margin: 0 auto;
    background-color:transparent;
    margin-top: -60vh !important;
    z-index:3;
}

.overlay {
    background: transparent;/*rgba(0,255,0,0.2); */
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index:4;
}


/**-- API --**/

section#api {
    background-color: var(--section-eval-color);
}

section#api .content {
    padding: 5vh 10px 5vh 10px;
    text-align: center;
}

/**-- CONTACT --**/

section#contact {
    background-color: var(--section-eval-color);
}

section#contact .content {
    padding: 5vh 10px 5vh 10px;
    text-align: center;
}



/*****   TABLE   *****/
.content p {
    text-align: center;
}

table {
    margin: 0 auto;
    width: 100%;
    padding: 2% 0 2% 0;
    border-collapse: collapse;
}

table tr, table td , table th {
    border-bottom: 1px solid #abcdef;
}

table td {
    width: 33.3%;
}


/****** MOBILE ******/

@media only screen and (max-width: 2400px) {

    header #h_overlay #resize_content {
        width: 920px;
    }

}

@media only screen and (max-width: 1180px) {

    header #h_overlay #resize_content {
        width: 720px;
    }

}

@media only screen and (max-width: 920px) {

    header #h_overlay #resize_content {
        width: 720px;
    }

}

@media only screen and (max-width: 720px) {

    /*** GLOBAL ***/

    .desktop {
        display:none;
    }
    .mobile {
        display:block;
    }

    /*** HEADER ***/

    header #h_overlay #resize_content {
        width: 100%;
    }

    .logo {
        position:absolute;
        font-size: 2.2em;
        margin-top:46px;
        margin-left:50px;
    }

    nav #nav_desktop {
        display:none;
    }

    nav #nav_mobile {
        display:block;
    }

    nav #nav_scroll {
        display: none !important;
    }

    #fields {
        margin-top: 20vh !important;
    }

    #analyzed #fields input {
        width:90%;
        height:40px;

    }


    /*** SECTIONS ***/

    section .content {
        width:calc(100% - 20px);
    }

}